.typesOfSort {
  position: absolute;
  top: -5px;
  right: 33px;
  border: 2px solid #512bde;
  border-radius: 10px;
  background-color: #EEF0F1;
  box-shadow: 0 0 8px rgba(102, 74, 226, 0.5);
  transition: all 0.5s ease;
}

.typesOfSort[data-theme='dark'] {
  background-color: #191D20;
}

.typeOfSort {
  padding: 10px 15px;
  border-radius: 10px;
  text-align: left;
  user-select: none;
  cursor: pointer;
}

.typesOfSort[data-arrow='closed'] {
  opacity: 0;
  visibility: hidden;
}

.typesOfSort[data-arrow='open'] {
  top: 50px;
  opacity: 1;
  visibility: visible;
}

.typeOfSort._active {
  background-color: #5345d530;
}