.notifications {
  flex-basis: 6%;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.notifications:active {
  transform: scale(0.9);
}