.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filters {
  margin-top: 10px;
  margin-bottom: 15px;
}

.priorityContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priorities {
  max-height: 0;
  opacity: 0;
  visibility: hidden;

  width: 100%;
  max-width: 230px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;
}

.priorities[data-arrow='open'] {
  max-height: 150px;
  opacity: 1;
  visibility: visible;
}

.all,
.high,
.medium,
.low {
  cursor: pointer;
  padding: 5px 0;
  border-radius: 10px;
  text-align: left;
  user-select: none;
}

.all::before,
.high::before,
.medium::before,
.low::before {
  content: '';
  display: inline-block;
  top: 12px;
  left: 12px;
  width: 12px;
  height: 12px;
  margin-right: 20px;
  margin-left: 10px;
  border-radius: 100%;
}

.all::before {
  background-color: #6642DE;
}

.high::before {
  background-color: #DF3A49;
}

.medium::before {
  background-color: #FBB731;
}

.low::before {
  background-color: #50BF71;
}

.all._active,
.high._active,
.medium._active,
.low._active {
  background-color: #5345d530;
}