.searchWrapper {
  position: relative;
}
.searchWrapper svg {
  user-select: none;
}

.searchWrapper:has(input:placeholder-shown)::after {
  content: 'Ctrl + Enter to add task';
  position: absolute;
  right: -50px;
  top: 8px;
  color: gray;
  pointer-events: none;
}

.search {
  position: relative;
  width: 100%;
  padding: 12px;
  padding-left: 50px;
  margin: 0 10px;
  font-size: 16px;
  color: #000;
  background-color: #F6F7F8;
  border: 2px solid #F0F2F4;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}

.search:focus {
  border-color: #512bde;
  box-shadow: 0 0 8px rgba(102, 74, 226, 0.5);
}