.taskTrackerIcon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  color: #613FDF;
}

.plusIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: #fff;
}

.allTasksIcon,
.activeTasksIcon,
.completedTasksIcon,
.trashTasksIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.searchIcon {
  position: absolute;
  left: 30px;
  top: 12px;
  width: 22px;
  height: 22px;
  color: #8C8F98;
  z-index: 1;
}

.sunIcon,
.moonIcon {
  width: 30px;
  height: 30px;
  color: #8C8F98;
}

.bellIcon {
  width: 30px;
  height: 30px;
  color: #8C8F98;
}

.arrowDownIcon,
.arrowUpIcon {
  width: 25px;
  height: 25px;
}

.calendarIcon {
  width: 25px;
  height: 25px;
}

.starIcon {
  width: 25px;
  height: 25px;
  color: #888B96;
  fill: #fff;
}

.starIcon[data-theme='dark'] {
  fill: #1F2225;
}

.starIcon[data-favorites='true'][data-theme='light'] {
  color: gold;
  fill: gold;
}

.starIcon[data-favorites='true'][data-theme='dark'] {
  color: gold;
  fill: gold;
}

.threeDotsVerticalIcon {
  width: 25px;
  height: 25px;
  color: #4D4D5B;
}

.crossIcon {
  width: 25px;
  height: 25px;
}