.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main[data-theme='light'] {
  background-color: #FFFEFF;
}

.main[data-theme='dark'] {
  color: #D3D4D8;
  background-color: #191D20;
}

.container {
  width: 100%;
  max-width: 1165px;
  margin: 10px 25px;
}