.sidebar {
  border: solid 1px F2F3F5;
  background-color: #FBFBFB;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}