.sidebar {
  border: solid 1px F2F3F5;
  background-color: #FBFBFB;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.plus {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.btn {
  background-color: #6240E0;
  padding: 10px;
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: solid 1px transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #512bde;
  }
}

.typeOfTasks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15px;
  cursor: pointer;
}

.typeOfTasks._active {
  background-color: #a7a7a7;
}

.allTasks,
.activeTasks,
.completedTasks,
.trashTasks {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}