.notifications {
  cursor: pointer;
  user-select: none;
}

.notifications[data-notifications=true] svg:nth-child(1) {
  transform: scale(0.8);
  transition: all 0.5s ease;
}

.notifications[data-notifications=false] svg:nth-child(1) {
  transform: scale(1);
  transition: all 0.5s ease;
}